<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body class="container">
    <h2 style="width: 50%;margin: 0 auto;"> Remainder App</h2>
    <hr>
    <form action="/item" method="get">
        <button type="submit">List</button>
        <button type="submit" formaction="/">Home</button>
    </form>

    <br>
    <div id="list">
        {% if list is defined %}
        <table class="table">
            <thead>
                <tr scope="row">
                    <th>Action</th>
                    <th>Done</th>
                    <th>Date</th>
                    <th>SNum</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for l in list %}
                <tr scope="row">
                    <td>
                        <button onclick="makeDELETErequest({{l[0]}})">Del</button>
                    </td>
                    <td> {{ l[4] }} </td>
                    <td> {{ l[2] }} </td>
                    <td> {{ l[0] }} </td>
                    <td> {{ l[1] }} </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        {% else %}
        <form action="/item" method="post">
            <label for="descr">Description:</label>
            <input type="text" id="descr" name="descr" required>
            <br>
            <label for="fdate">Notify Date:</label>
            <input type="text" id="fdate" name="fdate" required>
            <br>
            <label for="infodate">Expiry Date:</label>
            <input type="text" id="infodate" name="infodate" required>
            <br>
            <input type="submit" value="Submit">
        </form>
        {% endif %}</div>
<br>
{% if name is defined %}
       <a href="/logout"> <button>Logout {{name }} </button></a>
        {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='fe.js')}}"></script>
</body>

</html>
