<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="">
</head>

<body>
    <form action="/login" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
        </div>

        <div>
            <label for="pass">Password:</label>
            <input type="password" id="pass" name="password" required>
        </div>

        <input type="submit" value="Sign in">
    </form>
    <script src=""></script>
</body>

</html>
