<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">PLATFORM NAME</th>
            <th scope="col">SYSID</th>
            <th scope="col">DESCRIPTION</th>
        </tr>
    </thead>
    <tbody>
        {{#each pl}}
        <tr>
            <th scope="row">{{{this.CN}}}</th>
            <td>{{{this.ID}}}</td>
            <td> Full Content  <a href="/{{this.ID}}?f=json">json</a>  <a href="/{{this.ID}}?f=xml">xml</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
